# Data validation and pre-processing technique

In [1]:
#import library packages
import pandas as p
import numpy as n

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
#Load given dataset
data = p.read_csv('data.csv')

Before drop the given dataset:

In [4]:
data.head()

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1

In [5]:
#shape
data.shape

(4009, 4)

After drop the given dataset:

In [6]:
df=data.dropna()
df.head()

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1

In [7]:
df.shape

(3988, 4)

In [8]:
#show columns
df.columns

Index(['URLs', 'Headline', 'Body', 'Label'], dtype='object')

In [9]:
#To describe the dataframe
df.describe()

             Label
count  3988.000000
mean      0.468405
std       0.499063
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

In [10]:
#Checking datatype and information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3988 entries, 0 to 4008
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   URLs      3988 non-null   object
 1   Headline  3988 non-null   object
 2   Body      3988 non-null   object
 3   Label     3988 non-null   int64
dtypes: int64(1), object(3)
memory usage: 155.8+ KB

Checking duplicate values of dataframe:

In [11]:
#Checking for duplicate data
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4003    False
4004    False
4005    False
4007    False
4008    False
Length: 3988, dtype: bool

In [12]:
#find sum of duplicate data
sum(df.duplicated())

0

In [13]:
#Checking sum of missing values
df.isnull().sum()

URLs        0
Headline    0
Body        0
Label       0
dtype: int64

Spliting Train/Test:

In [14]:
#preprocessing, split test and dataset, split response variable
X = df.drop(labels='Label', axis=1)
#Response variable
y = df.loc[:,'Label']

In [15]:
#We'll use a test size of 30%. We also stratify the split on the response variable, which is very important to do because there are so few fraudulent transactions.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify=y)
print("Number of training dataset: ", len(X_train))
print("Number of test dataset: ", len(X_test))
print("Total number of dataset: ", len(X_train)+len(X_test))

Number of training dataset:  2791
Number of test dataset:  1197
Total number of dataset:  3988

In [16]:
df.groupby('Label').describe()

       URLs                                                                 \
      count unique                                                top freq
Label
0      2120   1572  http://beforeitsnews.com/u-s-politics/2017/10/...    5
1      1868   1760     http://www.bbc.com/sport/football/41472696\r\n    4

      Headline                                                                 \
         count unique                                                top freq
Label
0         2120   1222  9/29 From the 50s Forward: HBD Ken, Teke Takes...    6
1         1868   1601  World Cup 2018: Who needs what to qualify for ...    5

       Body
      count unique                                                top freq
Label
0      2120   1193  A Potato Battery Can Light up a Room for Over ...  143
1      1868   1670  Chat with us in Facebook Messenger. Find out w...   61

In [17]:
#for counting frequently occurence of spam and ham.
# from collections import Counter
# count1 = Counter(" ".join(df[df['fraudulent']==0]["text"]).split()).most_common(30)
# data1 = p.DataFrame.from_dict(count1)
# data1 = data1.rename(columns={0: "words of Truthful", 1 : "count"})
# count2 = Counter(" ".join(df[df['fraudulent']=='1']["text"]).split()).most_common(30)
# data2 = p.DataFrame.from_dict(count2)
# data2 = data2.rename(columns={0: "words of Opinion spam", 1 : "count_"})



from collections import Counter
count1 = Counter(" ".join(df[df['Label']==0]["Headline"]).split()).most_common(30)
data1 = p.DataFrame.from_dict(count1)
data1 = data1.rename(columns={0: "real", 1 : "count"})
count2 = Counter(" ".join(df[df['Label']==1]["Headline"]).split()).most_common(30)
data2 = p.DataFrame.from_dict(count2)
data2 = data2.rename(columns={0: "fraud", 1 : "count_"})

In [18]:
df['Label'].value_counts()

0    2120
1    1868
Name: Label, dtype: int64

After Pre-Processing:

In [19]:
df.columns

Index(['URLs', 'Headline', 'Body', 'Label'], dtype='object')

In [20]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['URLs', 'Headline', 'Body', 'Label']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(str)

In [21]:
df.head()

   URLs Headline  Body Label
0  1617      880  1288     1
1  2933     1395  1521     1
2  2598     2471  2431     1
3  3071      745  1580     1
4  2060     1237   863     1